<!doctype html>
<html lang="pl" ng-app="anulakrMgr">
<head>
  <meta charset="utf-8">
  <title>Ankieta Mgr</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="app.css" />
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="SurveyCtrl">

<a href="https://github.com/anulakr/mgr">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
       alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
</a>

<div class="main-row" ng-show="!validCompany">
  <div class="header header-title">
    <div>
      <span>Błędny odnośnik do ankiety</span>
    </div>
  </div>
  <div class="header header-body">
    <div>
      <p>
        Niestety użyłeś błędnego odnośnika do ankiety. Sprawdź czy nie popełniłeś błędu.
      </p>
    </div>
  </div>
</div>

<form ng-submit="sendSurvey()" ng-show="validCompany && !surveySent">
  <div class="main-row">
    <div class="header header-title">
      <div>
        <span>Kwestionariusz oceny kultury organizacji</span>
      </div>
    </div>
    <div class="header header-body">
      <div>
        <h4>
          Cel badania
        </h4>
        <p>
          Celem tego badania jest określenie kultury organizacji w firmie w której pracujesz. Badanie jest przeprowadzane
          w 2 firmach informatycznych o odmiennej strukturze i sposobie zarządzania. Wypełnienie kwestionariusza
          pozwoli uzyskać obraz tego, jak funkcjonuje Twoja organizacja i jakie wartości ją charakteryzują. Na te pytania
          nie ma dobrych czy złych odpowiedzi, tak samo jak nie istnieje dobra czy zła kultura.
        </p>
        <h4>
          <a href="#" ng-click="showHideInstructions()">Instrukcja</a>
        </h4>
        <div ng-show="instructionsVisible">
          <p>
            Na każde z pytań podano cztery odpowiedzi, między które należy rozdzielić 100 punktów w zależności od tego,
            w jakim stopniu dana odpowiedź odzwierciedla sytuację w Twojej organizacji. Najwięcej punktów przypiszemy
            odpowiedzi, która jest najbliższa sytuacji panującej w Twojej organizacji.
          </p>
          <p>
            <strong>Stan obecny</strong> (lewa kolumna) - oceniamy tu bieżący stan kultury organizacji, a nie taki
            jaki chcielibyśmy żeby był, bądź mamy nadzieję, że mógłby być.
          </p>
          <p>
            <strong>Stan pożądany</strong> (prawa kolumna) - dotyczy takiego stanu kultury organizacji, jaki sądzimy
            że powinien istnieć za pięć lat, by Twoja organizacja odniosła spektakularny sukces i stała się wzorcem
            dla innych w swojej branży.
          </p>
          <p>
            <strong>Ważne, by suma punktów w obu kolumnach przypisanych odpowiedziom na każde pytanie wynosiła 100.</strong>
          </p>
          <h4>
            Przykład
          </h4>
          <p>
            Jeśli na pytanie 1 odpowiedź A stanowi bardzo bliskie odzwierciedlenie postrzeganej sytuacji, odpowiedzi
            B i C są do pewnego stopnia trafne, a odpowiedź D jest najmniej zbliżona do stanu faktycznego,
            można przypisać 55 punktów odpowiedzi A, po 20 punktów odpowiedziom B i C oraz 5 punktów odpowiedzi D.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="main-row">
    <div class="question" ng-repeat="question in questions">
      <div class="question-row question-header">
        <div>
          <span>{{question.label}}. {{question.text}}</span>
        </div>
        <div>
          <span>Stan obecny</span>
        </div>
        <div>
          <span>Stan pożądany</span>
        </div>
      </div>
      <div class="question-row question-option" ng-repeat="option in question.options">
        <div>
          <span><strong>{{option.label}})</strong> {{option.text}}</span>
        </div>
        <div>
          <input type="text" ng-model="option.current" numbers-only>
        </div>
        <div>
          <input type="text" ng-model="option.expected" numbers-only>
        </div>
      </div>
      <div class="question-row question-footer">
        <div class="error">
          <span ng-show="showErrors && !question.isValid()">
            Odpowiedzi muszą sumować się w kolumnach do 100.
          </span>
        </div>
        <div ng-class="{ 'valid-answers': question.validAnswers('current'), 'invalid-answers': !question.validAnswers('current') }">
          <span>{{ question.sumAnswers('current') }} / 100</span>
        </div>
        <div ng-class="{ 'valid-answers': question.validAnswers('expected'), 'invalid-answers': !question.validAnswers('expected') }">
          <span>{{ question.sumAnswers('expected') }} / 100</span>
        </div>
      </div>
    </div>
  </div>

  <div class="main-row">
    <div class="footer">
      <input type="submit" value="Wyślij">
    </div>
  </div>
</form>

<div class="main-row" ng-show="validCompany && surveySent">
  <div class="header header-title">
    <div>
      <span>Dziękuję za wypełnienie ankiety</span>
    </div>
  </div>
  <div class="header header-body">
    <div>
        <p>
          Jeśli jesteś zainteresowany jej wynikami, daj mi proszę znać poprzez kanał, którym otrzymałeś oformację
          o badaniu. Poinformuję Cię po wykonaniu analizy kultury organizacji w której pracujesz ☺
        </p>
    </div>
  </div>
</div>

</body>
</html>
